{% extends 'base.html' %}

{% block title %}Novo Produto{% endblock %}
{% block page_title %}Cadastrar Produto{% endblock %}

{% block content %}
<section class="form-section">
    <div class="form-card">
        <h3>Novo produto</h3>
        <p>Preencha os dados abaixo para cadastrar um novo produto no sistema.</p>

        <form method="POST" class="formulario">
            <label>Nome do produto</label>
            <input type="text" name="nome" placeholder="Ex: Brownie Tradicional" required>

            <label>Preço de custo</label>
            <input type="number" step="0.01" name="preco_custo" placeholder="Ex: 3.50" required>

            <label>Preço de venda</label>
            <input type="number" step="0.01" name="preco_venda" placeholder="Ex: 8.00" required>

            <label>Estoque</label>
            <input type="number" name="estoque" placeholder="Ex: 20" required>

            <button type="submit" class="botao">Salvar produto</button>
        </form>
    </div>
</section>
{% endblock %}